.chessCreate {
  width: 450px;
  height: 450px;
  border: 1px solid #111;
}
.cell{
  width: 50px;
  height: 50px;
  float: left;
  background: #F0DAB5;
}
.blackCell {
  background: #B58763;
}
.chessLetter {
  background: #fff;
  float: left;
  font-size: 40px;
  text-align: right;
  letter-spacing: 26px;
}
.active{
  background: darkred;
}