$bg-color: #376;

body{
  background-color: $bg-color;
}
h1{
  color: #eee;
}
p{
  color: #ccc;
}

.userCard{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover{
    background-color: lighten($bg-color, 10%);
  }
}